label{
	color: yellow
}
body{
	background-color: black
}
h1{
	color: yellow
}
div{
	
	width: 40%;
	margin-left: 35%;
	margin-right: 35%;
	padding:3px;
}
button{
	width: 150px;
	border-radius: 50px;
	background-color: yellow;
	padding: 20px 40px;
	margin-top: 5px;
}
button:hover
{
	color: yellow;
	background-color: black;
	border: 5px solid black;
}