
p{
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px rgb(255 0 238), 0 0 151px rgb(255 0 144);
    opacity: 100;
    animation: flicker 1.5s infinite alternate;
    color: rgba(14, 5, 5, 0.979);
    font-size: 25px;
}