body{
    background-image: url("image_back.png");
    background-repeat: no-repeat;
    margin: 0;
}

div.banniere {
    font-size: 55px;
    width: 70%;
    height: 50px;
    padding: 1px;
    text-shadow: 0 0 7px , 0 0 10px black, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px rgb(255 0 238), 0 0 151px rgb(255 0 144);
    opacity: 100;
    animation: flicker 1.5s infinite alternate;
    color: beige;
}

   

div#menu{
    width: 200px;
    width: 350px;
    position: relative;
    right: 700px;
    bottom: 400px;
    color: #B0E0E6;


}
div#menu ul{
    width: 150px;
    border: 1px solid;

}

div#menu ul li{
    position: relative;
    list-style: none;
    border: 1px solid;
}
div#menu ul ul{
    position: absolute;
    top: 0;
    left: 100px;
}

div#menu ul ul{
    position: absolute;
    top: 0;
    left: 150px;
    display: none;
}

div#menu ul.niveau1 li.sousmenu:hover ul.niveau2,
div#menu ul.niveau2 li.sousmenu:hover ul.niveau3{
    display: block;
}

div#menu a{
    color: beige;
}
div#menu li:hover{
    background: darkcyan;
}
div#menu li.sousmenu:hover{
    background-color: darkcyan;
}

div#menu li a {
    text-decoration: none;
    padding: 18px 0 8px 8px;
    display: block;
    border-left: 8px;
    width: 50px;
    border-radius: 50px;
}
div#menu li a:hover{
    border-left-color: red;
}
div#menu ul ul li a:hover{
    border-left-color: orange;
}
div#menu ul ul ul li a:hover{
    border-left-color: orange;
}

h2 {
    border: 3px solid darkcyan;
    border-radius: 25px;
    position: relative;
    height: 70px;
    width: 1000px;
    bottom: 150px;
    color: beige;
    text-shadow: 0 0 7px , 0 0 10px black, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px rgb(255 0 238), 0 0 151px rgb(255 0 144);


}

div.all{
    border: 3px solid darkcyan;
    height: 700px;
    width: 1020px;

}

.centrale{
    font-family: cursive;
    width: 83%;
    height: 397px;
    
    border: 3px solid darkcyan;
    position: relative;
    left: 25px;
    top: 150px;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px rgb(255 0 238), 0 0 151px rgb(255 0 144);
    opacity: 100;
    animation: flicker 1.5s infinite alternate;
    color: rgba(0, 0, 0, 0.979);

}
iframe{
    width: 92%;
    height: 291px;
    position: relative;
    top: 50px;

}

