*,::after,::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100px;
    height: 100px;
    background-color: cream;
}
a{
    color: black;
    font-size: 30px;
}
a:visited{
    color: black;
}
img{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 20px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container div{
    margin: 20px;
    padding: 100px;
    background-color: orange;
    border: 3px solid #082e38;
    border-radius: 10px;
    transition: 0.2s;
}
