*,::after,::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
  width: 120px;
  height: 120px;
  float: left;
  margin-right: 10px;
}

.indication-couleur {
  background: linear-gradient(blue, 10%, pink);
}
a{
    color: black;
    font-size: 30px;
}
a:visited{
    color: black;
}
img{
    width: 200px;
    height: 250px;
    margin: 0 auto;
    border-radius: 20px;
}
.bloc{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bloc div{
    margin: 20px;
    padding: 100px;
    background-color: cream;
    border: 3px solid #082e38;
    border-radius: 10px;
    transition: 0.2s;
}
.bloc div:hover{
    background-color: rgb(232, 212, 185);
    transform: scale(1.1);
}
